# Data Cleaning

In [126]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [127]:
data = pd.read_csv(r'e:\Documents\data_hepatitis.csv')

In [128]:
data.shape

(155, 20)

In [129]:
data.head(n=5)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,Spleen Pabable,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology
0,die,30,female,no,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,1.0,85.0,18.0,4.0,NaN,no
1,die,50,male,no,yes,no,yes,yes,no,yes,yes,yes,yes,yes,0.9,135.0,42.0,3.5,NaN,no
2,die,78,male,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,0.7,96.0,32.0,4.0,NaN,no
3,die,31,male,NaN,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.7,46.0,52.0,4.0,80.0,no
4,die,34,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,200.0,4.0,NaN,no

In [130]:
data.tail(n=5)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,Spleen Pabable,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology
150,life,46,male,yes,yes,no,no,no,yes,yes,yes,no,no,no,7.6,NaN,242.0,3.3,50.0,yes
151,die,44,male,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.9,126.0,142.0,4.3,NaN,yes
152,die,61,male,no,yes,no,no,yes,no,no,yes,no,yes,yes,0.8,75.0,20.0,4.1,NaN,yes
153,die,53,female,no,yes,no,yes,yes,yes,yes,no,no,yes,no,1.5,81.0,19.0,4.1,48.0,yes
154,life,43,male,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,1.2,100.0,19.0,3.1,42.0,yes

In [131]:
data.describe() #descriptive statistics

              Age   Bilirubin  Alk Phospat       SGOT     Albumin     Protime
count  155.000000  149.000000   126.000000  151.00000  139.000000   88.000000
mean    41.200000    1.427517   105.325397   85.89404    3.817266   61.852273
std     12.565878    1.212149    51.508109   89.65089    0.651523   22.875244
min      7.000000    0.300000    26.000000   14.00000    2.100000    0.000000
25%     32.000000    0.700000    74.250000   31.50000    3.400000   46.000000
50%     39.000000    1.000000    85.000000   58.00000    4.000000   61.000000
75%     50.000000    1.500000   132.250000  100.50000    4.200000   76.250000
max     78.000000    8.000000   295.000000  648.00000    6.400000  100.000000

In [132]:
data['Sex'].value_counts()

male      139
female     16
Name: Sex, dtype: int64

In [133]:
data['Steroid'].value_counts()

yes    78
no     76
Name: Steroid, dtype: int64

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
Class             155 non-null object
Age               155 non-null int64
Sex               155 non-null object
Steroid           154 non-null object
Antivirals        155 non-null object
Fatigue           154 non-null object
Malaise           154 non-null object
Anaroxia          154 non-null object
Liver Big         145 non-null object
Liver Firm        144 non-null object
Spleen Pabable    150 non-null object
Spiders           150 non-null object
Ascites           150 non-null object
Varices           150 non-null object
Bilirubin         149 non-null float64
Alk Phospat       126 non-null float64
SGOT              151 non-null float64
Albumin           139 non-null float64
Protime           88 non-null float64
Histology         155 non-null object
dtypes: float64(5), int64(1), object(14)
memory usage: 24.3+ KB

## Imputation Missing Value

In [135]:
np.sum(data.isnull()) #number of NA for each variable

Class              0
Age                0
Sex                0
Steroid            1
Antivirals         0
Fatigue            1
Malaise            1
Anaroxia           1
Liver Big         10
Liver Firm        11
Spleen Pabable     5
Spiders            5
Ascites            5
Varices            5
Bilirubin          6
Alk Phospat       29
SGOT               4
Albumin           16
Protime           67
Histology          0
dtype: int64

In [136]:
data.isnull().sum()

Class              0
Age                0
Sex                0
Steroid            1
Antivirals         0
Fatigue            1
Malaise            1
Anaroxia           1
Liver Big         10
Liver Firm        11
Spleen Pabable     5
Spiders            5
Ascites            5
Varices            5
Bilirubin          6
Alk Phospat       29
SGOT               4
Albumin           16
Protime           67
Histology          0
dtype: int64

In [137]:
data.isnull().sum().sum()

167

In [138]:
#imputasi missing value data numerik
data['Bilirubin'] = data['Bilirubin'].fillna((data['Bilirubin'].mean())) 
data['Albumin'] = data['Albumin'].fillna((data['Albumin'].median()))
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders            True
Ascites            True
Varices            True
Bilirubin         False
Alk Phospat        True
SGOT               True
Albumin           False
Protime            True
Histology         False
dtype: bool

In [139]:
# imputasi untuk data numerik yang lain
data['Protime']=data['Protime'].fillna(99)
data['Alk Phospat']=data['Alk Phospat'].fillna(111)
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders            True
Ascites            True
Varices            True
Bilirubin         False
Alk Phospat       False
SGOT               True
Albumin           False
Protime           False
Histology         False
dtype: bool

In [140]:
#imputasi data kategorik dengan modus
data['Spiders'] = data.fillna(data['Spiders'].value_counts().index[0])
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders           False
Ascites            True
Varices            True
Bilirubin         False
Alk Phospat       False
SGOT               True
Albumin           False
Protime           False
Histology         False
dtype: bool

In [141]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid           False
Antivirals        False
Fatigue           False
Malaise           False
Anaroxia          False
Liver Big         False
Liver Firm        False
Spleen Pabable    False
Spiders           False
Ascites           False
Varices           False
Bilirubin         False
Alk Phospat       False
SGOT              False
Albumin           False
Protime           False
Histology         False
dtype: bool

## Encode Labels

In [142]:
from sklearn.preprocessing import LabelEncoder

In [143]:
# Encode untuk Sex, Steroid, Anaroxia, Spleen Pabable, Spiders tanpa membuat kolom baru
data['Type'] = LabelEncoder().fit_transform(data['Class'])
data['Sex'] = LabelEncoder().fit_transform(data['Sex'])
data['Steroid'] = LabelEncoder().fit_transform(data['Steroid'])
data['Anaroxia'] = LabelEncoder().fit_transform(data['Anaroxia'])
data['Spleen Pabable'] = LabelEncoder().fit_transform(data['Spleen Pabable'])
data['Spiders'] = LabelEncoder().fit_transform(data['Spiders'])
data['Antivirals'] = LabelEncoder().fit_transform(data['Antivirals'])
data['Fatigue'] = LabelEncoder().fit_transform(data['Fatigue'])
data['Malaise'] = LabelEncoder().fit_transform(data['Malaise'])
data['Liver Big'] = LabelEncoder().fit_transform(data['Liver Big'])
data['Liver Firm'] = LabelEncoder().fit_transform(data['Liver Firm'])
data['Ascites'] = LabelEncoder().fit_transform(data['Ascites'])
data['Varices'] = LabelEncoder().fit_transform(data['Varices'])
data['Antivirals'] = LabelEncoder().fit_transform(data['Antivirals'])
data['Histology'] = LabelEncoder().fit_transform(data['Histology'])
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,30,0,0,1,1,1,1,0,1,...,0,1,1,1.0,85.0,18.0,4.0,99.0,0,0
1,die,50,1,0,1,0,1,1,0,1,...,0,1,1,0.9,135.0,42.0,3.5,99.0,0,0
2,die,78,1,1,1,0,1,1,1,1,...,0,1,1,0.7,96.0,32.0,4.0,99.0,0,0
3,die,31,1,1,0,1,1,1,1,1,...,0,1,1,0.7,46.0,52.0,4.0,80.0,0,0
4,die,34,1,1,1,1,1,1,1,1,...,0,1,1,1.0,111.0,200.0,4.0,99.0,0,0

In [144]:
dataa=data
dataa.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,30,0,0,1,1,1,1,0,1,...,0,1,1,1.0,85.0,18.0,4.0,99.0,0,0
1,die,50,1,0,1,0,1,1,0,1,...,0,1,1,0.9,135.0,42.0,3.5,99.0,0,0
2,die,78,1,1,1,0,1,1,1,1,...,0,1,1,0.7,96.0,32.0,4.0,99.0,0,0
3,die,31,1,1,0,1,1,1,1,1,...,0,1,1,0.7,46.0,52.0,4.0,80.0,0,0
4,die,34,1,1,1,1,1,1,1,1,...,0,1,1,1.0,111.0,200.0,4.0,99.0,0,0

## Standardize - untuk data numerik

In [145]:
from sklearn.preprocessing import StandardScaler

In [146]:
dataa['Age'] = StandardScaler().fit(dataa[['Age']]).transform(dataa[['Age']])
dataa['Bilirubin'] = StandardScaler().fit(dataa[['Bilirubin']]).transform(dataa[['Bilirubin']])
dataa['Alk Phospat'] = StandardScaler().fit(dataa[['Alk Phospat']]).transform(dataa[['Alk Phospat']])
dataa['Albumin'] = StandardScaler().fit(dataa[['Albumin']]).transform(dataa[['Albumin']])
dataa['Protime'] = StandardScaler().fit(dataa[['Protime']]).transform(dataa[['Protime']])

C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [147]:
dataa.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,-0.894192,0,0,1,1,1,1,0,1,...,0,1,1,-0.360938,-0.461839,18.0,0.265479,0.838685,0,0
1,die,0.702579,1,0,1,0,1,1,0,1,...,0,1,1,-0.445364,0.617875,42.0,-0.544545,0.838685,0,0
2,die,2.938059,1,1,1,0,1,1,1,1,...,0,1,1,-0.614217,-0.224302,32.0,0.265479,0.838685,0,0
3,die,-0.814353,1,1,0,1,1,1,1,1,...,0,1,1,-0.614217,-1.304016,52.0,0.265479,0.083124,0,0
4,die,-0.574838,1,1,1,1,1,1,1,1,...,0,1,1,-0.360938,0.099612,200.0,0.265479,0.838685,0,0

# Normalize - untuk data numerik

In [149]:
from sklearn.preprocessing import Normalizer

In [150]:
data['Age'] = Normalizer().fit(data[['Age']]).transform(data[['Age']])
data['Bilirubin'] = Normalizer().fit(data[['Bilirubin']]).transform(data[['Bilirubin']])
data['Alk Phospat'] = Normalizer().fit(data[['Alk Phospat']]).transform(data[['Alk Phospat']])
data['Albumin'] = Normalizer().fit(data[['Albumin']]).transform(data[['Albumin']])
data['Protime'] = Normalizer().fit(data[['Protime']]).transform(data[['Protime']])

In [151]:
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,-1.0,0,0,1,1,1,1,0,1,...,0,1,1,-1.0,-1.0,18.0,1.0,1.0,0,0
1,die,1.0,1,0,1,0,1,1,0,1,...,0,1,1,-1.0,1.0,42.0,-1.0,1.0,0,0
2,die,1.0,1,1,1,0,1,1,1,1,...,0,1,1,-1.0,-1.0,32.0,1.0,1.0,0,0
3,die,-1.0,1,1,0,1,1,1,1,1,...,0,1,1,-1.0,-1.0,52.0,1.0,1.0,0,0
4,die,-1.0,1,1,1,1,1,1,1,1,...,0,1,1,-1.0,1.0,200.0,1.0,1.0,0,0